body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(254, 144, 10);
}
div{
    background-color: rgb(245, 245, 22);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px ;
}
.counter{
    font-size: 30px;
}
